<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicineTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMedical</display-name>
    <servlet-name>LoginMedical</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.LoginMedical</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMedical</servlet-name>
    <url-pattern>/LoginMedical</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterMedical</display-name>
    <servlet-name>RegisterMedical</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.RegisterMedical</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMedical</servlet-name>
    <url-pattern>/RegisterMedical</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser1</display-name>
    <servlet-name>LoginUser1</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.LoginUser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser1</servlet-name>
    <url-pattern>/LoginUser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser1</display-name>
    <servlet-name>RegisterUser1</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.RegisterUser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser1</servlet-name>
    <url-pattern>/RegisterUser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser2</display-name>
    <servlet-name>RegisterUser2</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.RegisterUser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser2</servlet-name>
    <url-pattern>/RegisterUser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser3</display-name>
    <servlet-name>RegisterUser3</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.RegisterUser3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser3</servlet-name>
    <url-pattern>/RegisterUser3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser2</display-name>
    <servlet-name>LoginUser2</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.LoginUser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser2</servlet-name>
    <url-pattern>/LoginUser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser3</display-name>
    <servlet-name>LoginUser3</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.LoginUser3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser3</servlet-name>
    <url-pattern>/LoginUser3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicineAdd</display-name>
    <servlet-name>MedicineAdd</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.MedicineAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineAdd</servlet-name>
    <url-pattern>/MedicineAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExServelet</display-name>
    <servlet-name>ExServelet</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.ExServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExServelet</servlet-name>
    <url-pattern>/ExServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myServelet</display-name>
    <servlet-name>myServelet</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.myServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServelet</servlet-name>
    <url-pattern>/myServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserLocation</display-name>
    <servlet-name>UpdateUserLocation</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.UpdateUserLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserLocation</servlet-name>
    <url-pattern>/UpdateUserLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.vaishhh.medicinetracker.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>